/* Global */

.font-green {
	-fx-text-fill: #5df921;
}

.font-red {
	-fx-text-fill: #d32121;
}


.panel {
	-fx-background-color: #0008;
    -fx-border-color: black;
}

.panel-border {
	-fx-border-style: dotted;
	-fx-border-color: white;
}

.toggle-button {
	-fx-background-color: #0000;
	-fx-graphic: url(img/btn_off.png);
}

.toggle-button:selected {
	-fx-background-color: #0000;
	-fx-graphic: url(img/btn_on.png);
}

.menu, .menu:hover {
	-fx-background-color: #0000;
	-fx-border-color: white;
    -fx-background-size: 100.0px 26.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.keyboard, .keyboard:hover {
	-fx-background-color: #0000;
	-fx-border-color: white;
	-fx-background-image: url(img/keyboard.png);
    -fx-background-size: 40.0px 26.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

/* Menu */

.secret, .secret:hover {
	-fx-background-color: #0000;
	-fx-border-color: #0000;
    -fx-background-size: 26.0px 26.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.antiafk, .antiafk:hover {
	-fx-background-color: #0000;
	-fx-border-color: white;
    -fx-background-size: 100.0px 26.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.macro, .macro:hover {
	-fx-background-color: #0000;
	-fx-border-color: white;
    -fx-background-size: 100.0px 26.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.settings, .settings:hover {
	-fx-background-color: #0000;
	-fx-border-color: white;
	-fx-background-image: url(img/settings.png);
    -fx-background-size: 40.0px 26.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.help, .help:hover {
	-fx-background-color: #0000;
	-fx-border-color: white;
	-fx-background-image: url(img/help.png);
    -fx-background-size: 40.0px 26.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.update, .update:hover {
	-fx-background-color: #0000;
	-fx-border-color: white;
    -fx-background-size: 40.0px 26.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.classic, .classic:hover {
	-fx-background-color: #0000;
	-fx-border-color: white;
    -fx-background-size: 40.0px 26.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

/* Anti-AFK */

.combo-box > .list-cell {
	-fx-alignment: center;
}

/* Macro */

.status {
	-fx-background-color: #000;
	-fx-border-color: #bbb;
}

.buff-food {
	-fx-background-color: #0000;
	-fx-background-image: url(img/buff_food.png);
    -fx-background-size: 22.0px 22.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.gear-green {
	-fx-background-color: #0000;
	-fx-background-image: url(img/gear_green.png);
    -fx-background-size: 6.5px 6.5px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.gear-red {
	-fx-background-color: #0000;
	-fx-background-image: url(img/gear_red.png);
    -fx-background-size: 6.5px 6.5px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.gear-white {
	-fx-background-color: #0000;
	-fx-background-image: url(img/gear_white.png);
    -fx-background-size: 6.5px 6.5px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.fav-get, .fav-get:hover {
	-fx-background-color: #0000;
	-fx-border-color: white;
	-fx-background-image: url(img/get_fav.png);
    -fx-background-size: 20.0px 20.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.fav-set, .fav-set:hover {
	-fx-background-color: #0000;
	-fx-border-color: white;
	-fx-background-image: url(img/set_fav.png);
    -fx-background-size: 20.0px 20.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.filepath {
	-fx-background-color: #0000;
	-fx-border-color: white;
}

/* Settings */

.save, .save:hover {
	-fx-background-color: #0000;
	-fx-border-color: white;
	-fx-background-image: url(img/save.png);
    -fx-background-size: 40.0px 26.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.reinit, .reinit:hover {
	-fx-background-color: #0000;
	-fx-border-color: white;
	-fx-background-image: url(img/reinit.png);
    -fx-background-size: 40.0px 26.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

/* Dialog */

.dialog {
    -fx-background-color: #222220;
}

.dialog > *.label.content {
    -fx-font-size: 14.0px;
    -fx-text-fill: #e8e8e8;
}

.dialog .button{
   -fx-background-color: #0000;
   -fx-border-color: white;
   -fx-text-fill: #e8e8e8;
   -fx-cursor: hand;
   -fx-font-weight: bold;
 }
 